:root {

    --color-a: #8049F5;
    --color-b: #70B5FF;
    --color-c: #72E8C7;
    --color-d: #87FF70;
    --color-e: #F5ED6C;
    --color-background: #50525e;
    --color-text: #f8f8f2;
    --color-dark: #282a36;
}

* {
    font-family: 'Roboto', sans-serif;
}
html, body {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: var(--color-background);
    color: var(--color-text);
}
img {
    width: 10rem;
    border-radius: 50% 0;
    box-shadow: 2px 2px var(--color-a), -3px -3px var(--color-b);
    color: lanwgreen
}

.main-header {
    display: flex;
    background-color: var(--color-dark);
    font-family: monospace;
    height: 10rem;
    margin: 0 auto;
}

.main-header .foto  {
    flex-basis: 20%;
    margin: auto 5rem;
    align-self: center;
    padding: 1.5rem 0;
}

.main-header ul {
    margin: 0;
    display: flex;
    list-style: none;
    flex-basis: 80%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0;
}

.main-header ul li {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    height: 100%;
    transition: all 0.75s;
}

.main-header ul li:hover {
    background-color: var(--color-text);
}

.main-header ul li:nth-child(1):hover {
    background-color: var(--color-a);
}

.main-header ul li:nth-child(2):hover {
    background-color: var(--color-b);
}

.main-header ul li:nth-child(3):hover {
    background-color: var(--color-c);
}

.main-header ul li:nth-child(4):hover {
    background-color: var(--color-d);
}
.main-header ul li:nth-child(5):hover {
    background-color: var(--color-e);
}


.main-header ul li:hover a {
    color: var(--color-dark);
}

.main-header ul li a {
    align-self: center;
    height: fit-content;
    color: white;
    text-decoration: none;
    width: 100%;
    font-size: 2rem;
}
.main {
    font-size: 2rem;
}
.main-wrapper {
    width: 80%;
    margin: 0 auto;
}